<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: normal;
        }

        .container {
            margin-top: 20px;
        }

        /* Style for count section in the layout */
        .stats-section {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: #f8f9fa;
        }

            .stats-section p {
                margin: 5px 0;
                font-size: 16px;
            }

        .date-section {
            text-align: right;
        }

        h2, h3 {
            font-size: 16px;
            font-weight: normal;
        }

        /* Style for the buttons */
        .action-buttons {
            margin-bottom: 20px;
        }

            .action-buttons .btn {
                margin-right: 10px;
            }
    </style>
</head>
<body>
    <div class="container">
        <!-- buttons to Create User and User List -->
        <div class="row action-buttons">
            <div class="col-md-12 text-right">
                <a href="@Url.Action("Create", "Home")" class="btn btn-primary">Create User</a>
                <a href="@Url.Action("List", "Home")" class="btn btn-primary">User List</a>
            </div>
        </div>

        <!-- User stats section -->
        <div class="row stats-section">
            <div class="col-md-8">
                <p>Total User Count: @ViewBag.TotalUserCount</p>
                <p>Total Active Users: <span id="activecount">@ViewBag.ActiveUserCount</span></p>
                <p>Total Inactive User Count: <span id="inactivecount">@ViewBag.InActiveUserCount</span></p>
            </div>
            <div class="col-md-3 date-section">
                <p>Date: @DateTime.Now</p>
            </div>
        </div>

        <!-- Render all the views -->
        @RenderBody()
    </div>

   
</body>
</html>