@model List<UserDetail>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "User List";
}




<div class="card">
    <div class="card-header bg-success text-white">
        <h4>User List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <!--link to the username -->
                        <td><a href="@Url.Action("Details", "Home", new { Id = user.Id })">@user.FirstName</a></td>
                        <td>@user.Email</td>
                        <td>
                            <input type="radio" name="isactive_@user.Id" value="True" @(user.IsActive ? "checked" : "")> Yes
                            <input type="radio" name="isactive_@user.Id" value="False" @(!user.IsActive ? "checked" : "")> No
                        </td>
                        <td><button class="btn btn-warning btn-sm userupdate" data-userId="@user.Id">Update</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>


    $(document).ready(function () {

        $(".userupdate").on('click', function () {

            var userId = $(this).attr("data-userId");
            var selected = $(`input[type='radio'][name='isactive_${userId}']:checked`).val();

            var userData = {
                id: $(this).attr("data-userId"),
                isActive: selected
            }

            $.ajax({

                url: '@Url.Action("Update", "Home")',
                type: "POST",
                data: userData,
                success: function (response) {
                    
                    if (response.status) {

                        $.ajax({
                            url: 'https://localhost:7153/api/Home/GetUserCount',
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {

                                if (data != null) {
                                    $('#activecount').text(data.activeUserCount);
                                    $('#inactivecount').text(data.inActiveUserCount);
                                }
                            }
                        });

                        alert('User updated successfully !');
                    }
                    else { 
                        alert('User updation failed, please try again !');
                    }                    
                },
                error: function (request, status, error) {
                    alert('User updation failed, please try again !');
                }
            });
        });
    });



</script>